@media (min-width: 850px) {
  .TaskDetailModal {
    .modal-dialog {
      max-width: 750px;
    }

    textarea {
      resize: none;
    }

    .card + textarea, .card + .card
    {
      margin-top: 1rem;
    }

    .card {
      .label-username {
        text-align: left;
      }
      .label-comment-date {
        text-align: right;
      }
    }
  }

}
